@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  height: 180vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.header,
.panel1,
.footer {
  background: #1F2937;
}

.header {
  flex: 1;
  display: flex;
  gap: 1vh;
  color: white;
  padding: 4vh 2vh;
  justify-content: center;
  align-items: center;
  max-height: 3vh;
}

.header .text {
  flex: 1;
  display: flex;
  max-width: 142vh;
}

.logo {
  margin-right: auto;
  font-weight: bold;
  font-size: 24px;
  color: #F9FAF8;

}

.links {
  display: flex;
  gap: 2vh;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #3882F6;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.panel1,
.panel2,
.panel3,
.panel4 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel1 {
  color: white;
  gap: 4vh;
  flex-wrap: wrap;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  max-width: 70vh;
  padding-left: 2vh;
}

.intro .title {
  font-size: 48px;
  font-weight: 950;
  color: #F9FAF8;
}

.intro .text,
.links {
  font-size: 18px;
  color: #E5E8EB;
}

.image {
  padding-left: 2vh;
  padding-bottom: 1vh;
}

img {
  max-width: 70vh;
  border-radius: 5px;
  width: 95%;
  height: auto;
}

.panel2 {
  flex-direction: column;
  gap: 4vh;
  font-size: larger;
  justify-content: space-evenly;
}

.panel2 .title {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin: 0 2vh;
}

.cards {
  display: flex;
  justify-content: space-around;
  gap: 2vh;
  flex-wrap: wrap;
  margin: 0 2vh;
}

.wrap {  
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 2vh;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  max-width: 35vh;
}

.card .text {
  text-align: center;
}

.box {
  width: 20vh;
  height: 20vh;
  border: 0.4vh solid #3882F6;
  border-radius: 15px;
}

.panel3 {
  background: gray;
  font-size: xx-large;
  flex-direction: column;
  background: #E5E8EB;
}

.panel3 .text {
  display: flex;
  flex-direction: column;
  max-width: 140vh;
  padding: 0 2vh;
  gap: 1vh;
  margin: 0 2vh;
}

.quote {
  font-style: italic;
  font-size: 36px;
  color: #1F2937;
}

.author {
  align-self: end;
  font-weight: 900;
}

.signup {
  max-width: 140vh;
  padding: 2vh;
  gap: 3vh;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 0 2vh;
}

.signup .text {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.signup .text .title {
  font-weight: 700;
}

.footer {
  color: white;
  text-align: center;
  padding: 2vh 0;
  margin-top: 4vh;
}

button {
  max-width: fit-content;
  padding: 5px 30px;
}

button:hover {
  background: rgb(15, 53, 107);
}

button,
.signup {
  background: #3882F6;
  color: white;
  border-radius: 10px;
  font-size: x-large;
  min-width: fit-content;
}

.intro button {
  border: 0.3vh solid #1F2937;
}

.signup button {
  border: 0.3vh solid white;
}
